<ion-view view-title="List">
    <ion-content class="padding">
        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="expense in expenses" type="item-text-wrap">
                <h2>{{expense.amount}}</h2>
                <p>{{expense.category}}</p>
                <i class="icon ion-chevron-right icon-accessory"></i>

                <ion-option-button class="button-assertive" ng-click="remove(expense)">
                    Delete
                </ion-option-button>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>